<section>
	<h1>About me</h1>
  <p><br/><img src="{{ root_url }}/images/bjro-eyes.jpg" alt="portrait" /></p>
	<p>
  My name is <strong>Björn Rochel</strong>.  I'm a 32 year old geek, who's crazy about software development, living in Hamburg and
  currently crafting software for <a href="http://www.xing.com">Xing</a>.
	</p>
	<ul id="badges">
    <li><a id="xing" href="http://www.xing.com/profile/Bjoern_Rochel"><span>XING</span></a></li>
    <li><a id="github" href="http://www.github.com/BjRo"><span>Github</span></a></li>
    <li><a id="twitter" href="http://www.twitter.com/bjoernrochel"><span>Twitter</span></a></li>
    <li><a id="rss" href="/atom.xml"><span>Rss</span></a></li>
	</ul>
</section>

