<section>
	<h1>About me</h1>
  <p><br/><img src="{{ root_url }}/images/bjro-eyes.jpg" alt="portrait" /></p>
	<p>
  My name is <strong>Björn Rochel</strong>.  I'm a 32 year old geek, who's crazy about software development, living in Cologne and
  currently working for <a href="http://www.intercomponentware.com">ICW</a> as a .NET Developer / Architect.
	</p>
	<ul class="badges">
		<li><a href="http://www.xing.com/profile/Bjoern_Rochel"><img src="{{ root_url }}/images/badges/xing2-small.png" alt="Xing" /></a></li>
		<li><a href="http://www.github.com/BjRo"><img src="{{ root_url }}/images/badges/github-small.png" alt="Github" /></a></li>
		<li><a href="http://www.twitter.com/bjoernrochel"><img src="{{ root_url }}/images/badges/twitter-square-small.png" alt="Twitter" /></a></li>
		<li><a href="/atom.xml"><img src="{{ root_url }}/images/badges/rss-circle-small.png" alt="Rss" /></a></li>
	</ul>
</section>

