<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.xing_sharing %}
  <div id="xing-share">
    <script type="XING/Share" data-counter="right" data-lang="en" data-url="{{ site.url }}{{ page.url }}"></script>
    <script src="https://www.xing-share.com/js/external/share.js" type="text/javascript"></script>
  </div>
  {% endif %}
</div>
