// Customize the colors of Octoflat Here

$primary-color:      #EC4911; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #7096AD; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #EC4911; // Hover-over color, Active Page color
$accent-color1:      #7096AD; // Hover-over background color for tags
$accent-color2:      #5a5e5f; // Sub-headings, Date Stamp
$accent-color3:      #F8F8F8; // Navbar Text, Tag text
$bg-color:           #F8F8F8; // Background
$navbar-color:       #00303E; // Navbar
$code-bg-color:      #00303E; // Code background
$quote-color:        #EC4911; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer
