// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
ul.badges {

	li {
		display: inline;
		list-style-type: none;
		border-style: none;
		border-width:0px;
		@include box-shadow(#fff 0px 0px 0px);

		img {
			border-style: none;
			@include box-shadow(#fff 0px 0px 0px);
		}
	}
}

#logo {
	display: none;
}

@media only screen and (min-width: 550px) {
	#logo {
		display: inline-block;
		float: left;
		margin-right: 1em;
	}
}


