// Add your custom styling here.
.jumbotron {
  padding: 30px 0;
  .container {
    display: none;
  }
}

p code, li code {
  border:     1px solid #ddd;
  color:      $text-color !important;
  background: #ffffff !important;
}
